@use "../colors" as *;
@use "../fonts" as *;
@use "../mixins" as *;

.nations-details {
   font-family: $font-family;
   padding: 4rem 3.5rem;
   background-color: $Very-Light-Gray;
   .back {
      width: fit-content;
      padding: 0.5rem 2rem;
      border-radius: 0.5rem;
      background-color: $White;
      box-shadow: 0.05rem 0.05rem 0.3rem rgba(133, 133, 133, 0.5),
         -0.05rem -0.05rem 0.3rem rgba(133, 133, 133, 0.5);
      margin-bottom: 3.5rem;
      @include flexbox(flex-start, center, 0.5rem);
      img {
         width: 1.1rem;
      }
      p {
         font-size: $homepage-items;
         color: $Very-Dark-Blue-2;
      }
   }
   .nation-details {
      @include flexbox(space-between, center);
      img {
         width: 35rem;
         height: 23rem;
      }
      .nation-infos {
         width: 50%;
         h2 {
            color: $Very-Dark-Blue-2;
            font-weight: $font-800;
            margin-bottom: 2rem;
         }
         .nation-infos-text {
            margin-bottom: 4rem;
            @include flexbox(space-between, center);
            .nation-infos-text-one,
            .nation-infos-text-two {
               p {
                  margin-bottom: 0.5rem;
                  color: $Very-Dark-Blue-2;
                  font-weight: $font-600;
                  font-size: $homepage-items;
                  span {
                     font-weight: $font-300;
                  }
               }
            }
         }
         .nation-borders {
            div {
               height: 6rem;
               color: $Very-Dark-Blue-2;
               font-weight: $font-600;
               font-size: $homepage-items;
               @include flexbox(flex-start, center, 0, 0, row, wrap);
               div {
                  height: fit-content;
                  padding: 0.3rem 1.8rem;
                  margin: 0.5rem 0.5rem;
                  background-color: $White;
                  text-align: center;
                  box-shadow: 0.05rem 0.05rem 0.3rem rgba(133, 133, 133, 0.5),
                     -0.05rem -0.05rem 0.3rem rgba(133, 133, 133, 0.5);
               }
            }
         }
      }
   }
}

.nations-details.dark {
   background-color: $Very-Dark-Blue-1;
   .back {
      background-color: $Very-Dark-Blue-1;
      box-shadow: 0.05rem 0.05rem 0.3rem $Very-Dark-Blue-2,
         -0.05rem -0.05rem 0.3rem $Very-Dark-Blue-2;
      p {
         color: $White;
      }
   }
   .nation-details {
      .nation-infos {
         h2 {
            color: $White;
         }
         .nation-infos-text {
            .nation-infos-text-one,
            .nation-infos-text-two {
               p {
                  color: $White;
                  span {
                     color: $Very-Light-Gray;
                  }
               }
            }
         }
         .nation-borders {
            div {
               color: $White;
               div {
                  background-color: $Very-Dark-Blue-1;
                  box-shadow: 0.05rem 0.05rem 0.3rem $Very-Dark-Blue-2,
                     -0.05rem -0.05rem 0.3rem $Very-Dark-Blue-2;
               }
            }
         }
      }
   }
}

@media (hover: hover) {
   .nations-details {
      .back {
         cursor: pointer;
      }
      .nation-borders {
         div div:hover {
            cursor: pointer;
            opacity: 0.5;
         }
      }
   }
}
